<%= form_with(model: budget) do |form| %>
  <% if budget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(budget.errors.count, "error") %> prohibited this budget from being saved:</h2>

      <ul>
        <% budget.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Total_amount %>
    <%= form.text_field :Total_amount %>
  </div>

  <div class="field">
    <%= form.label :Date %>
    <%= form.date_select :Date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
