<p id="notice"><%= notice %></p>

<h1>Budgets</h1>

<table class="table">
  <thead>
    <tr>
      <th>Total Amount</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @budgets.each do |budget| %>
      <tr>
        <td><%= budget.Total_amount %></td>
        <td><%= budget.Date %></td>
        <td><%= link_to 'Show', budget %></td>
        <td><%= link_to 'Edit', edit_budget_path(budget) %></td>
        <td><%= link_to 'Destroy', budget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a class="btn btn-primary" role="button" data-bs-toggle="button" <%= link_to 'New Budget', new_budget_path %></a>
