<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag 'events' %>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <p>
        <strong>Name:</strong>
        <%= @event.Name %>
      </p>

      <p>
        <strong>Type:</strong>
          <%if @event.Type == 0 %>
            <td>Club Meeting</td>
          <%else%>
            <td>Volunteer Event</td>
          <%end%>
      </p>

      <p>
        <strong>Date:</strong>
        <%= @event.Date %>
      </p>

      <p>
        <strong>Start:</strong>
        <%= @event.Start.strftime("%I:%M %p") %>
      </p>

      <p>
        <strong>End:</strong>
        <%= @event.End.strftime("%I:%M %p") %>
      </p>
    </div>
    <div class="col-sm">
      <ul>
        <% @event.qr_code_attendance do |file| %>
          <li>
            <% if file.representable? %>
              <%= image_tag file.representation(resize_to_limit: [100, 100]) %>
            <% else %>
              <%= link_to rails_blob_path(file, disposition: "attachment") do %>
                <%= image_tag "placeholder.png", alt: "Download file" %>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>

      <p><strong>Sign Up:</strong></p>
      <p><%= image_tag(@event.qr_code_shift)%></p>

    </div>
    <div class="col-sm">
      <p><strong>Sign In:</strong></p>
      <p><%= image_tag(@event.qr_code_attendance) %></p>
    </div>
  </div>
</div>

<br>
<br>

<div class="d-flex align-items-center gap-3 mb-2">
  <h1 style="margin: 0">Shifts</h1>

  <%= link_to 'New Shift', new_shift_path, :class => 'btn btn-primary btn-new' %>
</div>

<div class="table-ruby table-responsive"> 
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Max Volunteers</th>
        <th>Remaining Spots</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @EventShifts.each do |shift| %>
        <tr>
          <td><%= shift.Start.strftime("%I:%M %p") %></td>
          <td><%= shift.End.strftime("%I:%M %p") %></td>
          <td><%= shift.Shift_Cap %></td>
          <td><%= shift.Shift_Cap - Attendance.where(Shift_id: shift.id).size %></td>
          <td>
            <%= link_to edit_shift_path(shift), :class => 'name_links' do %>
              <%= image_tag "pencil-square.svg", style: 'height:1rem; width:1rem;' %>
            <% end %>
            &nbsp;
            <%= link_to shift, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'name_links' do %>
              <%= image_tag "trash.svg", style: 'height:1rem; width:1rem;' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
<br>

<%if @event.Date > Date.parse("2021-10-01") %>
<div class="d-flex align-items-center gap-3 mb-2">
  <h1 style="margin: 0">Sign Up</h1>
</div>

<div class="table-ruby table-responsive"> <%#table-responsive shows white at bottom of table %>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Member</th>
        <th>Start Time</th>
        <th>End Time</th>
      </tr>
    </thead>
    <tbody>
      <% @EventAttendances.each do |att| %>
        <tr>
          <%if att.Hours == 0 %>
            <td><%=  Member.find(att.Member_id).First_Name%> <%= Member.find(att.Member_id).Last_Name%> </td>
            <td><%= att.Start.strftime("%I:%M %p") %></td>
            <td><%= att.End.strftime("%I:%M %p") %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%end%>

<br>
<br>

<div class="d-flex align-items-center gap-3 mb-2">
  <h1 style="margin: 0">Attendance</h1>

  <%= link_to 'New Attendance', new_attendance_path, :class => 'btn btn-primary btn-new' %>
</div>
<div class="table-ruby table-responsive"> <%#table-responsive shows white at bottom of table %>
  <table class="table">
    <thead>
      <tr>
        <th>Member</th>
        <th>Start Time</th>
        <th>End Time</th>
      </tr>
    </thead>

    <tbody>
      <% @EventAttendances.each do |att| %>
        <tr>
          <%if att.Hours > 0 %>
            <td><%=  Member.find(att.Member_id).First_Name%> <%= Member.find(att.Member_id).Last_Name%> </td>
            <td><%= att.Start.strftime("%I:%M %p") %></td>
            <td><%= att.End.strftime("%I:%M %p") %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
