<%= stylesheet_link_tag 'events' %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
    <%if @event.Type == 0 %>
      <td>Club Meeting</td>
    <%else%>
      <td>Volunteer Event</td>
    <%end%>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.Date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.Name %>
</p>


<p>
  <strong>Start:</strong>
  <%= @event.Start.strftime("%I:%M %p") %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.End.strftime("%I:%M %p") %>
</p>

<p>
<ul>
  <% @event.qr_code_attendance do |file| %>
    <li>
      <% if file.representable? %>
        <%= image_tag file.representation(resize_to_limit: [100, 100]) %>
      <% else %>
        <%= link_to rails_blob_path(file, disposition: "attachment") do %>
          <%= image_tag "placeholder.png", alt: "Download file" %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
</p>

<br>

<p>
  <strong>Sign Up:</strong>
  <%= image_tag(@event.qr_code_shift)%>
</p>

<p>
  <strong>Sign In:</strong>
  <%= image_tag(@event.qr_code_attendance) %>
</p>

<br>


<p>
<strong>Shifts For This Event:</strong>
</p>
<%= link_to 'New Shift', new_shift_path, :class => 'btn btn-primary' %>
<table class="table">
  <thead>
    <tr>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Max Volunteers</th>
      <th>Remaining Spots</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @EventShifts.each do |shift| %>
      <tr>
        <td><%= shift.Start.strftime("%I:%M %p") %></td>
        <td><%= shift.End.strftime("%I:%M %p") %></td>
        <td><%= shift.Shift_Cap %></td>
        <td><%= shift.Shift_Cap - Attendance.where(Shift_id: shift.id).size %></td>
        <td><%= link_to 'Details', shift %></td>
        <td><%= link_to 'Edit', edit_shift_path(shift) %></td>
        <td><%= link_to 'Delete', shift, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>

<%if @event.Date > Date.parse("2021-10-01") %>
<p>
  <strong>Members Signed Up For This Event</strong>
  </p>
  <table class="table">
    <thead>
      <tr>
        <th>Member</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @EventAttendances.each do |att| %>
        <tr>
          <%if att.Hours == 0 %>
            <td><%=  Member.find(att.Member_id).First_Name%> <%= Member.find(att.Member_id).Last_Name%> </td>
            <td><%= att.Start.strftime("%I:%M %p") %></td>
            <td><%= att.End.strftime("%I:%M %p") %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<%end%>

<br>
<br>

<p>
<strong>Attendances For This Event</strong>
</p>
<%= link_to 'New Attendance', new_attendance_path, :class => 'btn btn-primary' %>
<table class="table">
  <thead>
    <tr>
      <th>Member</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @EventAttendances.each do |att| %>
      <tr>
        <%if att.Hours > 0 %>
          <td><%=  Member.find(att.Member_id).First_Name%> <%= Member.find(att.Member_id).Last_Name%> </td>
          <td><%= att.Start.strftime("%I:%M %p") %></td>
          <td><%= att.End.strftime("%I:%M %p") %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>





<br>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
