<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
    <%if @event.Type == 0 %>
      <td>Club Meeting</td>
    <%else%>
      <td>Volunteer Event</td>
    <%end%>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.Date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.Name %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.Start.strftime("%I:%M %p") %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.End.strftime("%I:%M %p") %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
