<%= form_with(model: shift) do |form| %>
  <% if shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shift.errors.count, "error") %> prohibited this shift from being saved:</h2>

      <ul>
        <% shift.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :Event_id %>
    <%= form.select :Event_id, Event.order(:Name).map{|event| [event.Name, event.id]}, include_blank: true, id: "id of event" %>
  </div>

  <div class="field">
    <%= form.label :Start %>
    <%= form.datetime_select :Start %>
  </div>

  <div class="field">
    <%= form.label :End %>
    <%= form.datetime_select :End %>
  </div>

  <div class="field">
    <%= form.label :Shift_Cap %>
    <%= form.number_field :Shift_Cap %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
