<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @shift.Event_id %>
</p>

<p>
  <strong>Title:</strong>
  Shift Title
</p>

<p>
  <strong>Start Time:</strong>
  <%= @shift.Start.strftime("%I:%M %p") %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @shift.End.strftime("%I:%M %p") %>
</p>

<p>
  <strong>Volunteer Capacity:</strong>
  <%= @shift.Shift_Cap %>
</p>

<%= link_to 'Edit', edit_shift_path(@shift) %> |
<%= link_to 'Back', events_path %>
