<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= Event.find(@shift.Event_id).Name %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @shift.Start.strftime("%I:%M %p") %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @shift.End.strftime("%I:%M %p") %>
</p>

<p>
  <strong>Volunteer Capacity:</strong>
  <%= @shift.Shift_Cap %>
</p>

<%= link_to 'Back', :back %>
