<div class="form">
  <h1 class="form-title"><%= heading %></h1>

  <%= bootstrap_form_with(model: transaction) do |form| %>
    <% if transaction.errors.any? %>
      <%= form.alert_message "Please fix the errors below", error_summary: false %>
    <% end %>

    <div class="row">
        <div class="col-md-12" style="display:none">
          <%= form.label :Budget_id %>
          <%= form.select :Budget_id, selected: 1 , id: "id of event" %>
        </div>    

      <div class="col-md-12">
        <%= form.text_field :Purpose %>
      </div>

      <div class="col-md-6">
        <%= form.number_field :Amount, :step=>"0.01" %>
      </div>

      <div class="col-md-6">
        <%= form.date_field :Date %>
      </div>

      <div class="col-md-12">
        <%= form.text_field :Officer %>
      </div>

      <div>
        <%= form.submit class: "btn btn-primary btn-form", value: @transaction_type %> 
      </div>
        
    </div>
  <% end %>

  <%= link_to 'Back', transactions_path %>
</div>
