<p id="notice"><%= notice %></p>

<div class="d-flex align-items-center gap-3 mb-2">
  <h1>Balance:</h1>
    <td><%= Budget.first.Total_amount %></td> 
</div>
<br>

<%= line_chart Transaction.pluck(:Date, :Amount), refresh: 5, title: "Total Amount vs Time", xtitle: "Day", ytitle: "$", curve: false, colors: ["#FF0000
", "#FFFFFF"] %>

<%= pie_chart Transaction.group(:Purpose).sum(:Amount), refresh: 5, title: "Amount Spent per Purpose", colors: ["#FF0000", "#d3d3d3", "#a9a9a9"] %>

<br>

<div class="d-flex align-items-center gap-3 mb-2">
  <h1 style="margin: 0">Transactions</h1>

  <%= link_to 'New Transaction', new_transaction_path, :class => 'btn btn-primary btn-new' %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Purpose</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Member</th>
      <th>Actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= link_to transaction.Purpose, transaction, :class => 'name_links', :style => 'color: black'; %></td>
        <td><%= transaction.Amount %></td>
        <td><%= transaction.Date %></td>
        <td><%= transaction.Officer %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

