<%= form_with(model: attendance) do |form| %>
  <% if attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
        <% attendance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="d-grid gap-3">
  
    <div class="field">
      <%= form.label :Member_id %>
      <%= form.select :Member_id, Member.order(:Last_Name).map{|member| [member.Last_Name, member.id]}, include_blank: true, id: "id of member" %>
    </div>

    <div class="field">
      <%= form.label :Shift_id %>
      <%= form.select :Shift_id , Shift.order(Start: :desc).map{|shift| ["#{Event.find(shift.Event_id).Name}: #{shift.Start.strftime("%I:%M %p")} - #{shift.End.strftime("%I:%M %p")}", shift.id]}, include_blank: true, id: "id of shift" %>
    </div>


    <div class="field">
      <%= form.label :Hours %>
      <%= form.number_field :Hours %>
    </div>

    <div class="field">
      <%= form.label :Start %>
      <%= form.time_select :Start, :minute_step => 5, :twelve_hour => true, :ampm => true %>
    </div>

    <div class="field">
      <%= form.label :End %>
      <%= form.time_select :End, :minute_step => 5, :twelve_hour => true, :ampm => true %>
    </div>

    <div>
      <%= form.submit class: "btn btn-primary" %>
    </div>
      
  </div>
<% end %>
