<p id="notice"><%= notice %></p>

<h1>Attendances</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Hours</th>
      <th>Start</th>
      <th>End</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attendances.each do |attendance| %>
      
      <tr>
        <td><%=Event.where(id: Shift.where(id: attendance.Shift_id).last.Event_id).last.Name %></td>
        <td>
        <td><%= attendance.Hours %></td>
        <td><%= attendance.Start %></td>
        <td><%= attendance.End %></td>
        <td><%= link_to 'Show', attendance %></td>
        <td><%= link_to 'Edit', edit_attendance_path(attendance) %></td>
        <td><%= link_to 'Destroy', attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attendance', new_attendance_path %>
<%= link_to 'shifts_path', shifts_path %>
<%= link_to 'member_path', members_path %>
