<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Red Cross</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" <%= link_to 'Members', members_path %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" <%= link_to 'Attendance', attendances_path %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" <%= link_to 'Shifts', shifts_path %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" <%= link_to 'Events', events_path %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" <%= link_to 'Transactions', transactions_path %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" <%= link_to 'Budget', budgets_path %></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<p id="notice"><%= notice %></p>

<h1>Attendances</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Hours</th>
      <th>Start</th>
      <th>End</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attendances.each do |attendance| %>
      
      <tr>
        <td><%=Event.where(id: Shift.where(id: attendance.Shift_id).last.Event_id).last.Name %></td>
        <td>
        <td><%= attendance.Hours %></td>
        <td><%= attendance.Start %></td>
        <td><%= attendance.End %></td>
        <td><%= link_to 'Show', attendance %></td>
        <td><%= link_to 'Edit', edit_attendance_path(attendance) %></td>
        <td><%= link_to 'Destroy', attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attendance', new_attendance_path %>
<%= link_to 'shifts_path', shifts_path %>
<%= link_to 'member_path', members_path %>
