<p id="notice"><%= notice %></p>

<p>
  <strong>Hours:</strong>
  <%= @attendance.Hours %>
</p>

<p>
  <strong>Start:</strong>
  <%= @attendance.Start %>
</p>

<p>
  <strong>End:</strong>
  <%= @attendance.End %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
