<%= form_with(model: member) do |form| %>
  <% if member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
        <% member.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="d-grid gap-3">
    <div class="field">
      <%= form.label :First_Name %>
      <%= form.text_field :First_Name %>
    </div>

    <div class="field">
      <%= form.label :Last_Name %>
      <%= form.text_field :Last_Name %>
    </div>

    <div class="field">
      <%= form.label :Last_Name %>
      <%= form.select(:Role, options_for_select([['Member', 0], ['Technology Chair', 1], ['Social Chair', 2], ['Secretary', 3], ['VP', 4], ['Treasurer', 5], ['President', 6]])) %>
    </div>

    <div class="field">
      <%= form.label :Email %>
      <%= form.text_field :Email %>
    </div>

    <div class="field">
      <%= form.label :Fall_Dues %>
      <%= form.select(:Fall_Dues, options_for_select([['Unpaid', 0], ['Paid', 1]]))  %>
    </div>

    <div class="field">
      <%= form.label :Spring_Dues %>
      <%= form.select(:Spring_Dues, options_for_select([['Unpaid', 0], ['Paid', 1]]))  %>
    </div>

    <div class="field">
      <%= form.label :Shirt_Size %>
      <%= form.select(:Shirt_Size, options_for_select([['N/A', 'N/A'], ['XXS', 'XXS'], ['XS', 'XS'], ['S', 'S'], ['M', 'M'], ['L', 'L'], ['XL', 'XL'], ['XXL', 'XXl']]))  %>
    </div>
    
    <div class="field">
      <%= form.label :year %>
      <%= form.select(:year, options_for_select([['Freshman', 1], ['Sophomore', 2], ['Junior', 3], ['Senior', 4], ['Alumni', 5]]))  %>
    </div>

    <div>
      <%= form.submit class: "btn btn-primary" %>
    </div>
    
  </div>
<% end %>
