<div class="form">
  <h1 class="form-title"><%= heading %></h1>

  <%= form_with(model: member) do |form| %>
    <% if member.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

        <ul>
          <% member.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row g-3">
      <div class="col-md-6">
        <%= form.label :First_Name, "First Name", class: "form-label" %>
        <%= form.text_field :First_Name, class: "form-control" %>
      </div>

      <div class="col-md-6">
        <%= form.label :Last_Name, "Last Name", class: "form-label" %>
        <%= form.text_field :Last_Name, class: "form-control" %>
      </div>

      <div class="col-md-12">
        <%= form.label :Role, class: "form-label" %>
        <%= form.select :Role, options_for_select([['Member', 0], ['Technology Chair', 1], ['Social Chair', 2], ['Secretary', 3], ['VP', 4], ['Treasurer', 5], ['President', 6]]), {}, { class: "form-select" } %>
      </div>

      <div class="col-md-12">
        <%= form.label :Email, class: "form-label" %>
        <%= form.text_field :Email, class: "form-control" %>
      </div>

      <div class="col-md-6">
        <%= form.label :Fall_Dues, "Fall Dues", class: "form-label" %>
        <%= form.select :Fall_Dues, options_for_select([['Unpaid', 0], ['Paid', 1]]), {}, { class: "form-select" } %>
      </div>

      <div class="col-md-6">
        <%= form.label :Spring_Dues, "Spring Dues", class: "form-label" %>
        <%= form.select :Spring_Dues, options_for_select([['Unpaid', 0], ['Paid', 1]]), {}, { class: "form-select" } %>
      </div>

      <div class="col-md-6">
        <%= form.label :Shirt_Size, "Shirt Size", class: "form-label" %>
        <%= form.select :Shirt_Size, options_for_select([['N/A', 'N/A'], ['XXS', 'XXS'], ['XS', 'XS'], ['S', 'S'], ['M', 'M'], ['L', 'L'], ['XL', 'XL'], ['XXL', 'XXl']]), {}, { class: "form-select" }  %>
      </div>
      
      <div class="col-md-6">
        <%= form.label :year, class: "form-label" %>
        <%= form.select :year, options_for_select([['Freshman', 1], ['Sophomore', 2], ['Junior', 3], ['Senior', 4], ['Alumni', 5]]), {}, { class: "form-select" }  %>
      </div>

      <div>
        <%= form.submit class: "btn btn-primary btn-form" %>
      </div>
      
    </div>
  <% end %>
  <%= link_to 'Back', members_path %>
</div>