<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag 'members' %>

<h1>Members</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Fall Dues</th>
      <th>Spring Dues</th>
      <th>Shirt Size</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= link_to member.First_Name + " " + member.Last_Name, member, :class => 'name_links', :style => 'color: black'; %></td>
        <td><%= member.Email %></td>

        <%if member.Fall_Dues == 1 %>
          <td>Paid</td>
        <%else%>
          <td>Unpaid</td>
        <%end%>

        <%if member.Spring_Dues == 1 %>
          <td>Paid</td>
        <%else%>
          <td>Unpaid</td>
        <%end%>

        <td><%= member.Shirt_Size %></td>

        <%if member.year == 1 %>
          <td>Freshman</td>
        <%elsif member.year == 2%>
          <td>Sophmore</td>
        <%elsif member.year == 3%>
          <td>Junior</td>
        <%elsif member.year == 4%>
          <td>Senior</td>
        <%else%>
          <td>Alumni</td>
        <%end%>
        <td><%= link_to 'Details', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Delete', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a class="btn btn-primary" role="button" data-bs-toggle="button" <%= link_to 'New Member', new_member_path %></a>
