<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag 'members' %>

<div class="d-flex align-items-center gap-3 mb-2">
  <h1 style="margin: 0">Members</h1>

  <%= link_to 'New Member', new_member_path, :class => 'btn btn-primary btn-new' %>
</div>

<div class="table-ruby table-responsive"> <%#table-responsive shows white at bottom of table %>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Role</th>
        <th>Email</th>
        <th>Fall Dues</th>
        <th>Spring Dues</th>
        <th>Shirt Size</th>
        <th>Year</th>
        <th>Action</th>
      </tr>
    </thead>
    
    <tbody>
      <% @members.each do |member| %>
        <tr>
          <td><%= link_to member.First_Name + " " + member.Last_Name, member, :class => 'name_links', :style => 'color: black'; %></td>
          
          <%if member.Role == 0 %>
            <td>Member</td>
          <%elsif member.Role == 1 %>
            <td>Technology Chair</td>
          <%elsif member.Role == 2%>
            <td>Social Chair</td>
          <%elsif member.Role == 3%>
            <td>Secretary</td>
            <%elsif member.Role == 4 %>
            <td>VP</td>
          <%elsif member.Role == 5%>
            <td>Treasurer</td>
          <%elsif member.Role == 6%>
            <td>President</td>
          <%else%>
            <td>Member</td>
          <%end%>
          
          <td><%= member.Email %></td>

          <%if member.Fall_Dues == 1 %>
            <td>Paid</td>
          <%else%>
            <td>Unpaid</td>
          <%end%>

          <%if member.Spring_Dues == 1 %>
            <td>Paid</td>
          <%else%>
            <td>Unpaid</td>
          <%end%>

          <td><%= member.Shirt_Size %></td>

          <%if member.year == 1 %>
            <td>Freshman</td>
          <%elsif member.year == 2%>
            <td>Sophmore</td>
          <%elsif member.year == 3%>
            <td>Junior</td>
          <%elsif member.year == 4%>
            <td>Senior</td>
          <%else%>
            <td>Alumni</td>
          <%end%>
          <td>
            <%= link_to edit_member_path(member), :class => 'name_links' do %>
              <%= image_tag "pencil-square.svg", style: 'height:1rem; width:1rem;' %>
            <% end %>
            &nbsp;
            <%= link_to member, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'name_links' do %>
              <%= image_tag "trash.svg", style: 'height:1rem; width:1rem;' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
