<div class="d-flex align-items-center gap-3 mb-2">
  <h1 style="margin: 0"><%= @member.First_Name %> <%= @member.Last_Name %>'s Attendance</h1>
</div>


<%= link_to 'Export CSV', <%= link_to 'Export Members', members_path(format: :csv) %> %>

<div class="table-ruby table-responsive">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Event</th>
        <th>Date</th>
        <th>Hours</th>
        <th>Start Time</th>
        <th>End Time</th>
      </tr>
    </thead>

    <tbody>
      <% @MemberAttendances.each do |att|  %>
        <tr>
          <td><%= att.Shift.Event.Name  %></th>
          <td><%= att.Shift.Event.Date.strftime("%m/%d/%Y")  %></th>
          <td><%= att.Hours  %></th>
          <td><%= att.Shift.Start.strftime("%I:%M %p")  %></th>
          <td><%= att.Shift.End.strftime("%I:%M %p")  %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'Back', members_path %>