<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @member.First_Name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @member.Last_Name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.Email %>
</p>

<p>
  <strong>Fall dues:</strong>
        <%if @member.Fall_Dues == 1 %>
          <td>Paid</td>
        <%else%>
          <td>Unpaid</td>
        <%end%>
</p>

<p>
  <strong>Spring dues:</strong>
        <%if @member.Spring_Dues == 1 %>
          <td>Paid</td>
        <%else%>
          <td>Unpaid</td>
        <%end%>
</p>

<p>
  <strong>Shirt size:</strong>
  <%= @member.Shirt_Size %>
</p>

<p>
  <strong>Year:</strong>
    <%if @member.year == 1 %>
      <td>Freshman</td>
    <%elsif  @member.year == 2 %>
      <td>Sophmore</td>
    <%elsif  @member.year == 3 %>
      <td>Juinior</td>
    <%elsif  @member.year == 4 %>
      <td>Senior</td>
    <%elsif  @member.year == 5 %>
      <td>Alumni</td>
    <%end%>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
