<p id="notice"><%= notice %></p>

<h1><%= @member.First_Name %> <%= @member.Last_Name %>'s Attendance</h1>

<div class="table-ruby table-responsive">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Event</th>
        <th>Date</th>
        <th>Hours</th>
        <th>Start Time</th>
        <th>End Time</th>
      </tr>
    </thead>

    <tbody>
      <% @MemberAttendances.each do |att|  %>
        <tr>
          <td><%= att.Shift.Event.Name  %></th>
          <td><%= att.Shift.Event.Date  %></th>
          <td><%= att.Shift.Hours  %></th>
          <td><%= att.Shift.Start  %></th>
          <td><%= att.Shift.End  %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'Back', members_path %>